<div class="details">
  <div class="title">
    {{index + " - " + (videoCfg.title || "")}}
  </div>

  <div class="views">
    {{videoCfg.views | thousandSuffixes: 2}}
  </div>
</div>
  <div
  *ngIf="videoCfg.source == 'facebook'"
  class="fb-video" 
  [attr.href]="facebookLink" 
  [attr.width]="sizes.width" 
  data-show-text="false">
</div>
<div
  class="youtube-wrapper"
  *ngIf="videoCfg.source == 'youtube'" 
  [innerHTML]="embedHTML">
</div>
<div
  *ngIf="videoCfg.source == 'url'"
  class="video-item">
  <video
    class="url-video"
    [width]="sizes.width"
    [height]="sizes.height"
    controls>
    <source [src]="videoCfg.url" type="video/mp4">
  </video>
</div>
